
<div class="order-summary-card">

  <div class="order-summary-hero-img-container">
    <img class="order-summary-hero-img" src="assets/illustration-hero.svg">
  </div>

  <div class="order-summary-text">
    
    <h1>
      Order Summary
    </h1>
    <p>
      You can now listen to millions of songs, audiobooks, and podcasts on any 
      device anywhere you like!
    </p>

    <div class="plan-card">
      <div class="plan-container">

        <div class="plan-icon-container">
          <img class="plan-icon" src="assets/icon-music.svg" alt="🎵">
        </div>

        <div class="plan-desc">
          <h2>Annual Plan</h2>
          <p>$59.99/year</p>
        </div>
        
        <button class="plan-button-change">Change</button>
      
      </div>
    </div>

    <div class="order-summary-buttons">
      <button class="order-summary-button-proceed">Proceed to Payment</button>
      <button class="order-summary-button-cancel">Cancel Order</button>
    </div>

  </div>

</div>

<div class="attribution">
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
  Coded by <a href="#">Your Name Here</a>.
</div>