@use '_variables.scss' as v;


.attribution {
    font-size: 11px; 
    text-align: center;
    }

h1, h2 {
    font-weight: 900;
    }
:host {
    font-weight: 500;
    line-height: 160%;
    text-align: center;
    }

button {
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    }
.plan-card button {
    text-decoration: underline;
    }
.order-summary-buttons > * {
    letter-spacing: 1px;
    }


.plan-desc {
    text-align: left;
    line-height: 140%;
    }

/* screen size dependant */
@media only screen and ( max-width: (v.$breakpoint-desktop - 1) ) {
    h1 { font-size: 22px; }
    h2 { font-size: 14px; }
    .plan-desc p { font-size: 14px; }
    .plan-button-change { font-size: 13px; }
    :host { font-size: 15px; }
    }
@media only screen and ( min-width: v.$breakpoint-desktop ) {
    h1 { font-size: 28px; }
    h2 { font-size: 16px; }
    :host { font-size: 16px; }
    }