
$background: hsl(225, 100%, 94%);
$surface: white;
$surface-variant: hsl(225, 100%, 98%);
$on-surface: hsl(224, 23%, 55%);
$on-surface-variant: hsl(223, 47%, 23%);

$primary: hsl(245, 75%, 52%);
$on-primary: white;
$primary-shadow: hsl(243, 97%, 91%);